# /var/lib/docker を編集できるユーザー
# setfacl -R -m u:user:rx /var/lib/docker　などで権限を付与しておくこと
BKUP_USER=XXXX
BKUP_USER_PW=XXXX
BKUP_TARGET_HOST=XXXX
BKUP_TARGET_USER=XXXX
BKUP_TARGET_PASSWD=XXXX
BKUP_TARGET_DIR=/XXX/xxxx
# `docker compose up` コマンドを実行するフォルダ名 + _ を指定する
BKUP_PREFIX=app-name_
BKUP_VOLUMES=app,nginx,mongo,elasticsearch
BKUP_FILES=./elasticsearch/v8/config/elasticsearch.yml

BKUP_WORK_DIR=/home/user/someapp